# OPENAEV Environment Variables
# base URL to reach the OpenAEV server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENAEV_URL=ChangeMe
# admin account API token from the OpenAEV server
OPENAEV_TOKEN=ChangeMe

# INJECTOR Environment Variables
INJECTOR_ID=msteams--ChangeMe
INJECTOR_NAME="Microsoft Teams"
INJECTOR_LOG_LEVEL=error