# OPENAEV Environment Variables
# base URL to reach the OpenAEV server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENAEV_URL=ChangeMe
# admin account API token from the OpenAEV server
OPENAEV_TOKEN=ChangeMe

# INJECTOR Environment Variables
INJECTOR_ID=email--ChangeMe
INJECTOR_NAME="Email"
INJECTOR_LOG_LEVEL=info

# SMTP Environment Variables
# Hostname must be routable from inside the container
# (`localhost` refers to the container itself, not the host)
INJECTOR_SMTP_HOSTNAME=smtp.example.com
INJECTOR_SMTP_PORT=587
INJECTOR_SMTP_USE_TLS=true
INJECTOR_SMTP_USERNAME=ChangeMe
INJECTOR_SMTP_PASSWORD=ChangeMe
