openaev:
  url: 'http://localhost:3001'
  token: 'ChangeMe'
  # only required for multi-tenancy (Enterprise Edition), keep commented otherwise
  # tenant_id: 'ChangeMe'

injector:
  id: 'changeme'
  name: 'Email'
  # log_level: 'error'

email:
  # hash_algorithm: 'sha256'  # Hash algorithm for signatures (sha256, sha1, md5)
