openaev:
  url: 'ChangeMe'
  token: 'ChangeMe'

injector:
  id: 'ChangeMe'
#  name: 'Shodan'
#  log_level: 'error'

shodan:
  api_key: 'ChangeMe'
#  base_url: 'https://api.shodan.io'
#  api_leaky_bucket_rate: 10
#  api_leaky_bucket_capacity: 10
#  api_retry: 5
#  api_backoff: 'PT30S'