version: 2.1

orbs:
  slack: circleci/slack@5.2.3
  kubernetes: circleci/kubernetes@1.3.1

jobs:
  ensure_formatting:
    docker:
      - image: cimg/python:3.13
    working_directory: ~/repo
    steps:
      - checkout
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - run:
          name: install dependencies
          command: pip install black isort --user
      - run:
          name: confirm black version
          command: black --version
      - run:
          name: run isort check
          command: isort --profile black --check .
      - run:
          name: run black check
          command: black --check .
      - slack/notify:
          event: fail
          template: basic_fail_1
  linter:
    docker:
      - image: alpine/flake8
    working_directory: ~/repo
    steps:
      - checkout
      - run: apk update && apk upgrade && apk --no-cache add curl gettext bash
      - run:
          name: flake8
          command: flake8 --ignore=E,W ~/repo
      - slack/notify:
          event: fail
          template: basic_fail_1
  test:
    working_directory: ~/openaev
    docker:
      - image: cimg/python:3.13
    steps:
      - checkout
      - setup_remote_docker
      - run: # this is only to satisfy poetry; not used
          working_directory: ~/
          name: Clone pyoaev
          command: |
            if [ "${CIRCLE_BRANCH}" = "main" ]; then
              git clone -b main https://github.com/OpenAEV-Platform/client-python
            else
              git clone -b release/current https://github.com/OpenAEV-Platform/client-python
            fi
      - run:
          working_directory: ~/openaev
          name: Install poetry
          command: pip install poetry==2.1.3 && poetry config installer.re-resolve false
      - run:
          name: Run injector tests
          working_directory: ~/openaev
          command: |
            INJECTORS="nuclei nmap http-query"
            
            if [ "${CIRCLE_BRANCH}" = "main" ]; then
              PYOAEV_REF="main"
            else
              PYOAEV_REF="release/current"
            fi
            
            for injector in $INJECTORS; do
              echo "Running tests for injector: $injector"
            
              cd ~/openaev/$injector
            
              poetry install --extras prod
              poetry run pip install --force-reinstall git+https://github.com/OpenAEV-Platform/client-python.git@${PYOAEV_REF}
              poetry run python -m unittest
            done
  build_docker_images:
    working_directory: ~/openaev
    docker:
      - image: cimg/base:current-24.04
    steps:
      - checkout
      - run:
          working_directory: ~/openaev
          name: Set semantic version environment
          command: |
            export LATEST_SEMANTIC_VERSION=$(git tag --sort=-v:refname | grep -E '^v?[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)
            export IS_LATEST=$([ "$CIRCLE_TAG" = "$LATEST_SEMANTIC_VERSION" ] && echo "true" || echo "false")
            echo "IS_LATEST=$IS_LATEST" >> $BASH_ENV
      - setup_remote_docker
      - run:
          name: Install environment
          command: |
            sudo apt-get update -qq
            sudo apt install curl gettext-base
            mkdir -p ~/openaev/images
      - run:
          working_directory: ~/openaev
          name: Replace pyoaev requirement of stable version with latest release branch code
          # We safely expand the CIRCLE_BRANCH variable because the CircleCI filters already enforce a strict release/x.x.x pattern using regex
          command: |
            if [ "${CIRCLE_BRANCH}" = "main" ]; then
              find . -name pyproject.toml | xargs -I ___ sed "s|branch = 'release/current'|branch = '${CIRCLE_BRANCH}'|" -i ___;
            fi;
      - run:
          name: Build injector Docker images
          working_directory: ~/openaev
          command: |
            INJECTORS="aws http-query nmap nuclei teams"
            
            for injector in $INJECTORS; do
              echo "Building injector: $injector"
            
              if [ "${CIRCLE_BRANCH}" = "release/current" ]; then
                docker build --progress=plain --build-context injector_common=../injector_common -t openaev/injector-$injector:${CIRCLE_SHA1} --build-arg PYOAEV_GIT_BRANCH_OVERRIDE="${CIRCLE_BRANCH}" ./$injector
              else
                docker build --progress=plain --build-context injector_common=../injector_common -t openaev/injector-$injector:${CIRCLE_SHA1} ./$injector
              fi
            
              docker save -o ~/openaev/images/injector-$injector openaev/injector-$injector:${CIRCLE_SHA1}
            done
      - persist_to_workspace:
          root: ~/openaev
          paths:
            - images
      - slack/notify:
          event: fail
          template: basic_fail_1

  publish_images:
    working_directory: ~/openaev
    docker:
      - image: cimg/base:current-24.04
    steps:
      - checkout
      - run:
          working_directory: ~/openaev
          name: Set semantic version environment
          command: |
            export LATEST_SEMANTIC_VERSION=$(git tag --sort=-v:refname | grep -E '^v?[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)
            export IS_LATEST=$([ "$CIRCLE_TAG" = "$LATEST_SEMANTIC_VERSION" ] && echo "true" || echo "false")
            echo "IS_LATEST=$IS_LATEST" >> $BASH_ENV
      - attach_workspace:
          at: .
      - setup_remote_docker
      - run:
          working_directory: ~/openaev/images
          name: Restore saved images and publish
          command: |
            if [ "${CIRCLE_TAG}" != "" ]
            then
              export IMAGETAG=${CIRCLE_TAG}
            elif [ "${CIRCLE_BRANCH}" = "main" ]
            then
              export IMAGETAG="rolling"
            elif [ "${CIRCLE_BRANCH}" = "release/current" ]
            then
              export IMAGETAG="prerelease"
            else
              echo "No tag supplied or branch is neither 'main' nor 'release/current' (was: '${CIRCLE_BRANCH}')"
              exit 1
            fi
            echo "Image tag: ${IMAGETAG}"
            
            INJECTORS="aws http-query nmap nuclei teams"

            for injector in $INJECTORS; do
              docker image load < injector-$injector
              docker tag openaev/injector-$injector:${CIRCLE_SHA1} openaev/injector-$injector:${IMAGETAG}
              docker tag openaev/injector-$injector:${CIRCLE_SHA1} openbas/injector-$injector:${IMAGETAG}
            done

            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            for injector in $INJECTORS; do
              docker push openaev/injector-$injector:${IMAGETAG}
              docker push openbas/injector-$injector:${IMAGETAG}
            done

            if [ "${IS_LATEST}" == "true" ]
            then
              for injector in $INJECTORS; do
                docker tag openaev/injector-$injector:${IMAGETAG} openaev/injector-$injector:latest
                docker tag openaev/injector-$injector:${IMAGETAG} openbas/injector-$injector:latest
                docker push openaev/injector-$injector:latest
                docker push openbas/injector-$injector:latest
              done
            fi
      - slack/notify:
          event: fail
          template: basic_fail_1

  deploy_testing:
    docker:
      - image: cimg/base:current-24.04
    steps:
      - checkout
      - kubernetes/install-kubectl
      - run: kubectl --server=https://api.staging.eu-west.filigran.io --token=$K8S_TOKEN -n customer-testing-oaev rollout restart deployment -l app=openaev-colljector
  deploy_prerelease:
    docker:
      - image: cimg/base:current-24.04
    steps:
      - checkout
      - kubernetes/install-kubectl
      - run: kubectl --server=https://api.staging.eu-west.filigran.io --token=$K8S_TOKEN_PRE_RELEASE -n customer-prerelease-oaev rollout restart deployment -l app=openaev-colljector
  notify_rolling:
    docker:
      - image: cimg/base:current-24.04
    steps:
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - slack/notify:
          event: pass
          template: basic_success_1
  notify:
    docker:
      - image: cimg/base:current-24.04
    steps:
      - run: sudo apt-get update -qq && sudo apt install curl gettext-base
      - slack/notify:
          event: pass
          template: basic_success_1
workflows:
  version: 2
  openaev:
    jobs:
      - ensure_formatting:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
      - linter:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
      - test:
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
      - build_docker_images:
          requires:
            - ensure_formatting
            - linter
            - test
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
      - publish_images:
          requires:
            - build_docker_images
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
            branches:
              only:
                - main
                - release/current
      - deploy_testing:
          requires:
            - publish_images
          filters:
            branches:
              only: main
      - deploy_prerelease:
          requires:
            - publish_images
          filters:
            branches:
              only: release/current
      - notify_rolling:
          requires:
            - deploy_testing
            - deploy_prerelease
      - notify:
          requires:
            - publish_images
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)+(\.[0-9]+)*/
            branches:
              ignore: /.*/
