# OPENAEV Environment Variables
# base URL to reach the OpenAEV server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENAEV_URL=ChangeMe
# admin account API token from the OpenAEV server
OPENAEV_TOKEN=ChangeMe
OPENAEV_TENANT_ID=ChangeMe

# INJECTOR Environment Variables
INJECTOR_ID=nuclei--ChangeMe
INJECTOR_NAME=Nuclei
INJECTOR_LOG_LEVEL=error

# NUCLEI Environment Variables
NUCLEI_SCAN_STRATEGY=host-spray
NUCLEI_TEMPLATES_PARALLELISM=5
NUCLEI_HOSTS_PARALLELISM_PER_TEMPLATE=5
NUCLEI_MAX_REQUESTS_PER_SECOND=50
NUCLEI_TIMEOUT=10
NUCLEI_RETRIES=1
NUCLEI_MAX_HOST_ERROR=30
NUCLEI_RESPONSE_SIZE_READ=1048576
NUCLEI_RESPONSE_SIZE_SAVE=1048576
NUCLEI_EXCLUDE_TYPE=headless
#NUCLEI_EXCLUDE_SEVERITY=ChangeMe