openaev:
  url: 'http://localhost:3001'
  token: 'ChangeMe'
  # only required for multi-tenancy (Enterprise Edition), keep commented otherwise
  # tenant_id: 'ChangeMe'

injector:
  id: 'ChangeMe'
  name: 'Amazon Web Services'
  log_level: 'error'
