# OPENAEV Environment Variables
# base URL to reach the OpenAEV server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENAEV_URL=ChangeMe
# admin account API token from the OpenAEV server
OPENAEV_TOKEN=ChangeMe
OPENAEV_TENANT_ID=ChangeMe

# INJECTOR Environment Variables
INJECTOR_ID=censys--ChangeMe
INJECTOR_NAME=Censys
INJECTOR_LOG_LEVEL=error

# CENSYS Environment Variables
CENSYS_API_ID=ChangeMe
CENSYS_API_SECRET=ChangeMe
