# OpenAEV connection
OPENAEV_URL=ChangeMe
OPENAEV_TOKEN=ChangeMe
# Optional for multi-tenancy (Enterprise Edition)
OPENAEV_TENANT_ID=ChangeMe

# Injector identity and logging
INJECTOR_ID=ChangeMe
INJECTOR_NAME=Prowler
INJECTOR_LOG_LEVEL=error
